{% extends 'base.html' %}

{% load static %}

{% block style %}
<style>
    #notification {
        visibility: hidden;
        color: red;
        font-size: small;
    }

    #notification.show {
        visibility: visible;
    }
</style>
{% endblock style %}

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

{% block breadcrumb %}
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Shopping Cart</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Shopping Cart</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
{% endblock breadcrumb %}
<!-- END SECTION BREADCRUMB -->

{% block body %}
<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-lg-6">
            	<div class="toggle_info">
                	<span><i class="fas fa-user"></i>Returning customer? <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                </div>
                <div class="panel-collapse collapse login_form" id="loginform">
                    <div class="panel-body">
                    	<p>If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                    	<form method="post">
                            <div class="form-group mb-3">
                                <input type="text" required="" class="form-control" name="email" placeholder="Username Or Email">
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-control" required="" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="login_footer form-group mb-3">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                        <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                    </div>
                                </div>
                                <a href="#">Forgot password?</a>
                            </div>
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-fill-out btn-block" name="login">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            	<div class="toggle_info">
            		<span><i class="fas fa-tag"></i>Have a coupon? <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                </div>
                <div class="panel-collapse collapse coupon_form" id="coupon">
                    <div class="panel-body">
                    	<p>If you have a coupon code, please apply it below.</p>
                        <div class="coupon field_form input-group">
                            <input type="text" value="" class="form-control" placeholder="Enter Coupon Code.." id="coupon-input">
                            <div class="input-group-append">
                                <button class="btn btn-fill-out btn-sm" type="submit" id="apply-coupon">Apply Coupon</button>
                            </div>
                            </div>
                        <div id="notification">Invalid coupon</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            	<div class="medium_divider"></div>
            	<div class="divider center_icon"><i class="linearicons-credit-card"></i></div>
            	<div class="medium_divider"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-6">
            	<div class="heading_s1">
            		<h4>Billing Details</h4>
                </div>
                <form method="post">
                    <div class="form-group mb-3">
                        <input type="text" required class="form-control" name="fname" placeholder="First name *" value="{{user_profile.first_name}}">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" required class="form-control" name="lname" placeholder="Last name *" value="{{user_profile.last_name}}">
                    </div>
                    <div class="form-group mb-3">
                        <div class="custom_select">
                            <select class="form-control" id="country-select">
                                <option value="">Select an option...</option>
                                <!-- <option value="{{country.name}}">{{ country }}</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" name="billing_address" required="" placeholder="Address *" value="{{user_profile.home_address}}">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" required type="text" name="city" placeholder="City / Town *">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" required type="text" name="state" placeholder="State / County *">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" required type="text" name="zipcode" placeholder="Postcode / ZIP *">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" required type="text" name="phone" placeholder="Phone *" value="{{user_profile.mobile_number}}">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" required type="text" name="email" placeholder="Email address *" value="{{user.email}}">
                    </div>
                    {% if not request.user.is_authenticated %}
                        <div class="form-group mb-3">
                            <div class="chek-form">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount">
                                    <label class="form-check-label label_info" for="createaccount"><span>Create an account?</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group create-account mb-3">
                            <input class="form-control" required type="password" placeholder="Password" name="password" >
                        </div>
                    {% endif %}
                    <div class="heading_s1">
                        <h4>Additional information</h4>
                    </div>
                    <div class="form-group mb-0">
                        <textarea rows="5" class="form-control" placeholder="Order notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>{{ item.product.title }} <span class="product-qty">x {{ item.quantity }}</span></td>
                                    <td>${{ item.total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SubTotal</th>
                                    <td class="product-subtotal">${{ cart_subtotal }}</td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td>Free Shipping</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal" id="cart_total_amount">${{ cart_subtotal }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Payment</h4>
                        </div>
                        <form action="https://checkout.flutterwave.com/v3/hosted/pay" method="POST" class="mb-3">
                            {% csrf_token %}
                            <input type="hidden" name="public_key" value="FLWPUBK_TEST-02b9b5fc6406bd4a41c3ff141cc45e93-X" />
                            <input type="hidden" name="customer[email]" value="test@mailnator.com" />
                            <input type="hidden" name="customer[name]" value="Ayomide Jimi-Oni" />
                            <input type="hidden" name="tx_ref" value="txref-81123" />
                            <input type="hidden" name="redirect_url" value="https://ba9d-105-112-18-108.ngrok-free.app/my-dashboard/" />
                            <input type="hidden" name="amount" value="{{ cart_subtotal }}" />
                            <input type="hidden" name="currency" value="NGN" />
                            <input type="hidden" name="meta[source]" value="docs-html-test" />
                            <!-- Flutterwave Button -->
                            <button class="btn btn-flutterwave btn-icon btn-block">
                                <img src="https://flutterwave.com/images/logo/logo-mark/full.svg" alt="Flutterwave Logo" width="20" height="20">
                                Pay with Flutterwave
                            </button>
                        </form>

                        <form action="{% url 'carts:cart-checkout' %}" method="POST">
                            {% csrf_token %}
                            <!-- Paystack Button -->
                            <button class="btn btn-paystack btn-icon btn-block">
                                <img src="https://nigerialogos.com/logos/paystack/paystack.svg" alt="Paystack Logo" width="20" height="20">
                                Pay with Paystack
                            </button>
                        </form>
                    </div>
                    <!-- <a href="#" class="btn btn-fill-out btn-block">Place Order</a> -->
                    <!-- <form action="{% url 'carts:cart-checkout' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="source" value="cart">
                        <button type="submit" class="btn btn-fill-out btn-block">Place Order</button>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
{% endblock body %}

{% block script %}
<script>
    $(document).on('click', '#apply-coupon', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "carts:apply-coupon" %}',
            data: {
                coupon_code: $('#coupon-input').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                // console.log({'percent':json.percent})
                document.getElementById("cart_total_amount").textContent = '$'+json.cart_subtotal
            },

            error: function(xhr, errmsg, err){
                var notification = document.getElementById("notification");
                notification.className = "show";
                setTimeout(function(){
                    notification.className = notification.className.replace("show", "");
                }, 10000);
            }
        });
    });
    $(document).ready(function() {
        // Send a GET request when the page is loaded
        $.ajax({
            type: 'GET',
            url: '{% url "carts:get-countries" %}',
            success: function(response) {
                var countries = response.countries;
                var countrySelect = $('#country-select');

                // Populate the select element with country options
                $.each(countries, function(name, isoCode) {
                    var option = $('<option></option>').attr('value', isoCode).text(name);
                    countrySelect.append(option);
                });
            },
            error: function(xhr, errmsg, err) {
                console.error(xhr, errmsg, err);
            }
        });
    });
</script>
{% endblock script %}