{% extends 'base.html' %}

{% load static %}

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

{% block breadcrumb %}
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Shopping Cart</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Shopping Cart</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
{% endblock breadcrumb %}
<!-- END SECTION BREADCRUMB -->

{% block body %}
<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive shop_cart_table">
                	<table class="table">
                    	<thead>
                        	<tr>
                            	<th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if items %}
                                {% for item in items %}
                                    <tr id="item-row-{{ item.product.id }}">
                                        <td class="product-thumbnail"><a href="#"><img src="{{ item.product.image }}" alt="{{item.product.title}}"></a></td>
                                        <td class="product-name" data-title="Product"><a href="#">{{item.product.title}}</a></td>
                                        <td class="product-price" data-title="Price">{{item.product.price}}</td>
                                        <td class="product-quantity" data-title="Quantity"><div class="quantity">
                                        <input type="button" value="-" class="minus" name="{{ item.product.id }}">
                                        <input type="text" name="quantity" value="{{ item.quantity }}" title="Qty" class="qty" size="4" disabled>
                                        <input type="button" value="+" class="plus" name="{{ item.product.id }}">
                                    </div></td>
                                        <td class="product-subtotal" data-title="Total" id="product-subtotal-{{item.product.id}}">{{item.total}}</td>
                                        <td class="product-remove" data-title="Remove" name="{{ item.product.id }}"><a ><i class="ti-close"></i></a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        <tfoot>
                        	<tr>
                            	<td colspan="6" class="px-0">
                                	<div class="row g-0 align-items-center">

                                    	<div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                                            <div class="coupon field_form input-group">
                                                <input type="text" value="" class="form-control form-control-sm" placeholder="Enter Coupon Code.." id="coupon">
                                                <div class="input-group-append">
                                                	<button class="btn btn-fill-out btn-sm" type="submit" id="apply-coupon">Apply Coupon</button>
                                                </div>
                                            </div>
                                    	</div>
                                        <div class="col-lg-8 col-md-6  text-start  text-md-end">
                                            <button class="btn btn-line-fill btn-sm" type="submit">Update Cart</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            	<div class="medium_divider"></div>
            	<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
            	<div class="medium_divider"></div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-6">
            </div>
            <div class="col-md-6">
            	<div class="border p-3 p-md-4">
                    <div class="heading_s1 mb-3">
                        <h6>Cart Totals</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">Cart Subtotal</td>
                                    <td class="cart_total_amount" id="cart_sub_total_amount">${{ cart_subtotal }}</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Shipping</td>
                                    <td class="cart_total_amount">Free Shipping</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Total</td>
                                    <td class="cart_total_amount" id="cart_total_amount"><strong>${{ cart_subtotal }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn btn-fill-out">Proceed To CheckOut</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
{% endblock body %}

{% block script %}
<script>
    $(document).on('click', '.product-remove', function(e){
        e.preventDefault();
        var productId = $(this).attr('name');
        $.ajax({
            type: 'POST',
            url: '{% url "carts:remove-from-cart" %}',
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                document.getElementById("item-row-"+ productId).remove()
                document.getElementById("cart_sub_total_amount").textContent = '$'+json.cart_subtotal
                document.getElementById("cart_total_amount").innerHTML = '<strong>$' + json.cart_subtotal + '</strong>';
            },

            error: function(xhr, errmsg, err){

            }
        });
    });

    $(document).on(event='click', data='.plus, .minus', function(e){
        e.preventDefault();
        var productId = $(this).attr('name');
        $.ajax({
            type: 'POST',
            url: '{% url "carts:update-cart" %}',
            data: {
                product_id: productId,
                cart_action:$(this).attr('class'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                document.getElementById("product-subtotal-"+ productId).textContent = json.total
                document.getElementById("cart_sub_total_amount").textContent = '$'+json.cart_subtotal
                document.getElementById("cart_total_amount").innerHTML = '<strong>$' + json.cart_subtotal + '</strong>';
            },

            error: function(xhr, errmsg, err){

            }
        });
    });

    $(document).on('click', '#apply-coupon', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "carts:apply-coupon" %}',
            data: {
                coupon_code: $('#coupon').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json){
                // console.log({'percent':json.percent})
                document.getElementById("cart_total_amount").innerHTML = '<strong>$' + json.cart_subtotal + '</strong>';
            },

            error: function(xhr, errmsg, err){

            }
        });
    });
</script>
{% endblock script %}